/* General Styles for Shopping Cart */
.shopping-cart {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}
.shopping-cart-table{
    margin: auto;
    text-align: center;
    width: 600px;
}

.shopping-cart button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 2px 12px;
    cursor: pointer;
    font-size: 14px;
}

.shopping-cart button:hover {
    background-color: #c82333;
}

/* Total Amount Styles */
.total {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

@media only screen and (max-width: 630px) {
    .shopping-cart-table{
        width: 500px;
    }
}

@media only screen and (max-width: 530px) {
    .shopping-cart-table{
        width: 400px;
    }
}